.sidebar{
    width:100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:100%;
  /* z-index:-2  */
}

.sidebar-option {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:8px 0px;
    color:#616161;
    cursor: pointer;
   
};

.sidebar-label {
    font-size: 8px;
    color:red
}

.active {
    color:#6264a7;
    border-left:4px solid #6264a7
}

.sidebar-option:hover{
    color:#6264a7;
    background-color: #f1f1f1;
}